<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="navbarLoader.js" defer></script>
    <script src="register.bind.js" defer></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="navbar"></div>

<div class="container">
    <h2>Create Account</h2>
    <form>
        <input id="regUsername" placeholder="Username" required>
        <input id="regEmail" type="email" placeholder="Email" required>
        <input id="regPassword" type="password" placeholder="Password" required>
        <button>Register</button>
    </form>
</div>
</body>
</html>
