<!DOCTYPE html>
<html>
<head>
    <title>Shopping List</title>
    <link rel="stylesheet" href="style.css">
    <script src="script.js" defer></script>
    <script src="navbarLoader.js" defer></script>
    <script src="shopping_list.bind.js" defer></script>
    <link rel="icon" href="/favicon.ico" type="image/x-icon">
</head>
<body>
<div id="navbar"></div>

<div class="container">
    <h2>Shopping List</h2>
    <form id="shopForm">
        <input id="shopName" placeholder="Item name" required>
        <input id="shopQty" placeholder="Quantity">
        <button type="submit">Add</button>
    </form>
    <div id="shopBox"></div>
</div>
</body>
</html>
